@import 'gaia';

/*this imports/authenticates the typeface*/
@import url("https://use.typekit.net/klg6wia.css");

/*sets the base typeface as the regular weight*/
body {
  font-family: felt-tip-woman, sans-serif;
  font-size: 4em;
}

/*bold typeface as the thicker version of the typeface*/
b {
  font-family: felt-tip-woman, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* custom image layout*/
img[alt~="align-bottom-centered"] {
  position: absolute;
  bottom: -20;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
}

img[alt~="align-left"] {
  float: left;
}

img[alt~="align-right"] {
  float: right;
  margin-right: 20px;
}

img[alt~="align-left"] {
  margin-right: 20px;
  float: left;
}
